body {
    background-color: transparent;
    padding: 10px;
}

#root {
    border: 1px solid #eee;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.2);
}

th.ant-table-column-sort {
    background: #fafafa !important;
}

th.ant-table-column-sort:hover {
    background: #f0f0f0 !important;
}

.ant-table-column-sort {
    background: inherit !important;
}
