* {
    user-select: none;
}

html,
body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: transparent;
    padding: 10px;
}

#root {
    border: 1px solid #eee;
    border-radius: 6px;
}
